<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>693999966425-in1joefnb9e51lvvhk468gfqsdv74h70.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.693999966425-in1joefnb9e51lvvhk468gfqsdv74h70</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>693999966425-52b6ofjqua8ja7lsmsukp6pb3hdjtqok.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyABxs4HAE77MkgsVFvu6Gy4c-LZk3Jb1TA</string>
	<key>GCM_SENDER_ID</key>
	<string>693999966425</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shaderbytes.watchplus</string>
	<key>PROJECT_ID</key>
	<string>watchplus-55d71</string>
	<key>STORAGE_BUCKET</key>
	<string>watchplus-55d71.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:693999966425:ios:34001eecd8cadaec1c86c8</string>
</dict>
</plist>